/* Navbar styles */

.navbar {
    height: 60px; /* Adjust as necessary */
  }
  
  /* Side nav button styles */
  
  .side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .side-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30%;
  }
  
  /* Search form styles */
  
  form {
    margin-left: auto;
    margin-right: 0;
  }
  
  input[type="text"] {
    width: 100%;
    max-width: 250px;
  }
  
  /* Profile logo styles */
  
  .profile-logo {
    position: relative;
    margin-left: auto;
  }
  
  .profile-logo .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    transform: translateX(0);
  }
  
  @media (min-width: 200px) {
    .navbar {
      height: auto;
    }
  
    .side-nav-button {
      display: flex;
    }
  
    form {
      margin-left: 0;
      margin-right: auto;
    }
  
    input[type="text"] {
      width: auto;
      max-width: none;
    }
    .profile-logo .dropdown-menu {
      transform: translateX(-50%);
      margin-left: auto;
      margin-right: 0.5rem;
    }
    @media (max-width: 767px) {
        .navbar-brand {
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
        }
        
        .profile-logo {
          margin-top: 10px;
        }
      }
      .form-control {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
  }
  .logo{
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
  }
  .logo:hover{
    font-size: 24px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
  }
  /* Media query for small screens */
@media (max-width: 768px) {
    .logo {
      display: none; /* hide the logo on small screens */
    }
  
    .side-nav-button {
      display: block; /* show the hamburger icon on small screens */
    }
  }
  /* Media query for large screens */
@media (min-width: 769px) {
    .logo {
      display: block; /* show the logo on large screens */
    }
  
    .side-nav-button {
      display: none; /* hide the hamburger icon on large screens */
    }
  }