<div id="menu-container">
    <nav class="side-nav">
      <ul id="menu" class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
        <li>
          <a class="home" href="/" title="Dashboard">
            <i class="fa-solid fa-home fa-lg"></i> Home
          </a>
        </li>
        <li>
          <a class="prett" href="#" title="Admin">
            <i class="fa-solid fa-user-cog fa-lg"></i> Admin
          </a>
          <ul class="menus">
            <li>
              <a href="#" class="prett" title="Client List">
                <i class="fa-solid fa-users fa-lg"></i> Client List
              </a>
            </li>
            <li>
              <a href="#" title="Client Onboarding">
                <i class="fa-solid fa-user-plus fa-lg"></i> Client Onboarding
              </a>
            </li>
            <li>
              <a href="#" title="Client Summary">
                <i class="fa-solid fa-clipboard fa-lg"></i> Client Summary
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a class="prett" href="#" title="Chief Underwriter">
            <i class="fa-solid fa-user-tie fa-lg"></i> Chief Underwriter
          </a>
          <ul>
            <li>
              <a href="#">
                <i class="fa-solid fa-sliders-h fa-lg"></i> Product Configurator
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-tasks fa-lg"></i> Questionary Configurator
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  