#menu-container {
    display: flex;
    flex-direction: column;
  }
  
  #menu {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  #menu > li {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  #menu > li > ul {
    display: none;
  }
  
  #menu > li:hover > ul {
    display: block;
  }
  
 