<div id="menu-container">
    <nav>
      <ul id="menu">
        <li><a class="home" href="/" title="Dashboard">Home</a></li>
        <li>
          <a class="prett" href="#" title="Admin">Admin</a>
          <ul class="menus">
            <li>
              <a href="#" class="prett" title="Client List">Client List</a>
            </li>
            <li><a href="#" title="Client Onboarding">Client Onboarding</a></li>
            <li><a href="#" title="Client Summary">Client Summary</a></li>
          </ul>
        </li>
            <li>
             <a class="prett" href="#" title="Chief Underwriter">Chief Underwriter</a>
             <ul>
                <li>
                    <a href="#">Product Configurator</a>
                </li>
                <li>
                    <a href="#">Questionary Configurator</a>
                </li>
             </ul>
            </li>

      </ul>
    </nav>
  </div>
  